<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JPP.Civils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JPP.Civils.Properties.Settings>
            <setting name="P_Hatch_Offset" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Plot_Drained_Area_Layer" serializeAs="String">
                <value>JPP_Plot_Drained_Areas</value>
            </setting>
            <setting name="Plot_Drained_Area_Color" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Plot_Drained_Area_Pattern" serializeAs="String">
                <value>ANSI31</value>
            </setting>
        </JPP.Civils.Properties.Settings>
    </userSettings>
</configuration>